.formControl {
    margin-bottom: 1.5%;
    background-color: #1f2023;
    color: white;
    box-shadow: 2px 3px 30px black;
    border: #1f2023;
    opacity: 0.6;
}

.formControl::placeholder {
    color: white;
}

.formControl:focus {
    background-color: #1f2023;
    color: white;
    box-shadow: 15px 15px 30px black;
}