.navigation-link {
    text-decoration: none;
    color: #dadada !important;
    font-weight: 500;
    margin-right: 5%;
    margin-left: 10%;
}

.navigation-link-profil {
    text-decoration: none;
    color: #dadada !important;
    font-weight: 500;
    margin-right: 5%;   
    margin-right: 30%;
}

.navigation-link:hover{
    text-decoration: underline solid 1.5px;
}

.navigation-profil {
    display: flex;
    flex-direction: row;
    width: 45%;
}

.navbar {
    backgroundColor: #1f2023 !important;;
}

.navbar_text {
    color: #dadada !important;
}
